<div id="wrapper">
	<div id="container" data-date="<%= @date %>">
		<div id="title">
			<img src="/images/gaya.png">
			<p>※音量に注意してください！</p>
		</div>
		<div id="reactions">
		</div>
		<div id="buttons">
			<div class="button nobi1" data-sound="nobi1">
				<div class="btntext">おひぃ↓</div>
			</div>
			<div class="button nobi2" data-sound="nobi2">
				<div class="btntext">おひぃ↑</div>
			</div>
			<div class="button oyo" data-sound="oyo">
				<div class="btntext">きになるー</div>
			</div>
			<div class="button kou" data-sound="kou">
				<div class="btntext">ほぉんとに!?</div>
			</div>
			<div class="button miho" data-sound="miho">
				<div class="btntext">ふんふん</div>
			</div>
			<div class="button ono" data-sound="ono">
				<div class="btntext">なんでやねん</div>
			</div>
		</div>
	</div>
</div>
<audio id="sound-oyo" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/oyo.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/oyo.wav" type="audio/wav">
</audio>
<audio id="sound-miho" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/miho.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/miho.wav" type="audio/wav">
</audio>
<audio id="sound-nobi1" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi1.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi1.wav" type="audio/wav">
</audio>
<audio id="sound-nobi2" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi2.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi2.wav" type="audio/wav">
</audio>
<audio id="sound-kou" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/kou.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/kou.wav" type="audio/wav">
</audio>
<audio id="sound-ono" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/ono.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/ono.wav" type="audio/wav">
</audio>
