<div id="wrapper">
	<div id="container">
		<div id="title">
			<h1>おひぃボタン</h1>
			<p>※音量に注意してください！</p>
		</div>
		<div id="reactions">
		</div>
		<div id="buttons">
			<div class="button nobi" data-sound="nobi">
				<div class="btntext">おひぃ↓</div>
			</div>
			<div class="button kou" data-sound="kou">
				<div class="btntext">ほぉんとに！？</div>
			</div>
			<div class="button oyo" data-sound="oyo">
				<div class="btntext">なるほど！</div>
			</div>
			<div class="button miho" data-sound="miho">
				<div class="btntext">へぇー</div>
			</div>
		</div>
	</div>
</div>
<audio id="sound-oyo" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi1.mp3" type="audio/mp3">
	<source src="sounds/nobi1.wav" type="audio/wav">
</audio>
<audio id="sound-miho" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi2.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi2.wav" type="audio/wav">
</audio>
<audio id="sound-nobi" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi2.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi2.wav" type="audio/wav">
</audio>
<audio id="sound-kou" preload="auto">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi1.mp3" type="audio/mp3">
	<source src="https://s3.amazonaws.com/kyoton-mlkcca/study-meeting-gaya/sounds/nobi1.wav" type="audio/wav">
</audio>
