<div id="wrapper">
	<div id="container" data-date="<%= @date %>">
		<div id="title">
			<h1><%=@date_format%>のおひぃ度</h1>
		</div>
		<div id="results">
			<div class="result nobi1"><span>おひぃ↓</span></div>
			<div class="result nobi2"><span>おひぃ↑</span></div>
			<div class="result kou"><span>ほぉんとに!?</span></div>
			<div class="result oyo"><span>きになるー</span></div>
			<div class="result miho"><span>ふんふん</span></div>
			<div class="result ono"><span>なんでやねん</span></div>
		</div>
	</div>
</div>