<div id="wrapper">
	<div id="container">
		<div id="title">
			<h1><%=@date_format%>のおひぃ度</h1>
		</div>
		<div id="results">
			<div class="result nobi"><span>おひぃ↓</span></div>
			<div class="result kou"><span>ほぉんとに！？</span></div>
			<div class="result oyo"><span>なるほど！</span></div>
			<div class="result miho"><span>へぇー</span></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		showResult(<%= @date %>);
	});
</script>